parameters:
    bootstrap: %rootDir%/../../../phpstan-bootstrap.php
    autoload_directories:
        - %rootDir%/../../../../system
        - %rootDir%/../../../controllers
        - %rootDir%/../../../models
